* {
    background-color: aquamarine ;
}

body {
    font-family: "Black Ops One", sans-serif;
    font-size: 16px;
}

h1 {
    color: red;
    background-color: blue ;
}

/* clase */
.h1copado {
    color:aqua;
    background-color:brown ;
    width: 50vw;
}


/* 
Esto es un Selector 
SELECTOR {
    
}
*/